body {
    font-family: 'Inter', sans-serif;
    color: #333333;
}

.bg-fundo {
    background-color: #f8fafc;
}

.texto-azul {
    color: #1e3a8a;
}

.texto-cinza {
    color: #64748b;
}

.texto-amarelo {
    color: #FFD500;
}

.bg-azul {
    background-color: #1e3a8a;
}

.logo-icone {
    background-color: #FFD500;
    color: #1e3a8a;
    padding: 8px 12px;
    border-radius: 8px;
}

.nav-link {
    color: #475569 !important;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #1e3a8a !important;
}

.btn-azul {
    background-color: #1e3a8a;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    display: inline-block;
    border: none;
}

.btn-azul:hover {
    background-color: #172554;
    color: #ffffff;
}

.btn-amarelo {
    background-color: #FFD500;
    color: #1e3a8a;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
    border: none;
    display: inline-block;
}

.btn-amarelo:hover {
    background-color: #eab308;
    color: #1e3a8a;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 213, 0, 0.4);
}

.hero-bg {
    background-image: linear-gradient(rgba(30, 58, 138, 0.85), rgba(30, 58, 138, 0.6)), url('../media/image/Transporte-escolar.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding-top: 80px;
}

.badge-amarelo {
    background-color: rgba(255, 213, 0, 0.2);
    color: #FFD500;
    padding: 6px 16px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid rgba(255, 213, 0, 0.3);
}

.selo-anos {
    position: absolute;
    bottom: -20px;
    right: -20px;
    background-color: #FFD500;
    color: #1e3a8a;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.linha-amarela {
    width: 60px;
    height: 4px;
    background-color: #FFD500;
    border-radius: 2px;
}

.card-servico {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border-bottom: 4px solid #FFD500;
    transition: 0.3s;
}

.card-servico:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.icone-box {
    width: 60px;
    height: 60px;
    background-color: rgba(56, 189, 248, 0.1);
    color: #38BDF8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-contato {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    height: 100%;
    border: 1px solid #e2e8f0;
}